@charset "utf-8";

/* ======================
全体設定
=========================== */
body {
    width: 100%;
}

.wrap {
    width: 100%;
}

main {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 40px;

    @media screen and (max-width:768px) {
        padding: 0 20px;
    }

    @media screen and (max-width:440px) {
        padding: 0 10px;
    }
}

/*==============================
font English 
===============================*/
.serif {
    font-family: "goudy-old-style", "Roboto Slab", serif;
    font-weight: 400;
    font-style: italic;
}

.serif_Normal {
    font-family: "goudy-old-style", "Roboto Slab", serif;
    font-weight: 600;
    font-style: normal;
}

.serif_Nav {
    font-family: "goudy-old-style", "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
}

/* ==========================
font japanese 
=================================*/
.serif_j {
    font-family: "ten-mincho-text", "Noto Serif JP", serif;
    font-weight: 400;
    font-style: normal;
}

.serif_tit {
    font-family: "ten-mincho-text", "Noto Serif JP", serif;
    font-weight: 600;
    font-style: normal;
}


.Gothic_tit {
    font-family: "dnp-shuei-gothic-gin-std", "Zen Kaku Gothic New", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.Gothic {
    font-family: "dnp-shuei-gothic-gin-std", "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ===============
header
=====================*/

.headerInner {
    max-width: 100%;
    margin: 0 auto;
    padding: 24px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: #eaf3ff;

    @media (max-width:990px) {
        padding: 24px 16px;
    }

    @media screen and (max-width:768px) {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
    }
}

.headerInner.headerColorScroll {
    color: #ffffff;
    transition: color 0.4s ease-out;
    background: rgba(73, 142, 192, 0.938);
    backdrop-filter: blur(3px);
}

.headerInner h1 {
    font-size: 40px;
}

/* ================
nav
=====================*/
.navBox {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 80px;
}

.navBox li {
    font-size: 20px;
}

/* ================
nav animation （下線をふわっと）
====================== */
.navBox li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.navBox li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: #f1744f;
    width: 100%;
    height: 2px;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s ease-in;
}

/* ==========================
nav hover 透明に
============================= */

.navBox:hover li {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.navBox:hover li:hover {
    opacity: 1.0;
}

.navBox li a:hover::after {
    transform: scale(1, 1);
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
ハンバーガーメニュー　スマホ
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

@media screen and (min-width:540px) {
    .menu {
        display: none;
    }

    .menu-wrapper {
        display: none;
    }
}

@media screen and (max-width:540px) {
    .grovalNav {
        display: none;
    }

    .headerInner {
        flex-direction: unset;
        display: flex;
        justify-content: flex-start;
        max-width: 100%;
        padding: 32px 16px;
    }

    /* meau */
    .menu-wrapper {
        position: relative;
    }

    .menu-icon {
        width: 40px;
        height: 30px;
        position: fixed;
        /* ← fixedにして常に左上固定 */
        top: 23px;
        right: 20px;
        cursor: pointer;
        z-index: 3;
        display: inline-block;
    }

    .menu-icon span {
        display: block;
        height: 4px;
        margin: 6px 0;
        background: #ffffff;
        border-radius: 2px;
        transition: 0.4s;
    }

    /* ハンバーガーがXに変形 */
    #menu-toggle:checked+.menu-icon span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    #menu-toggle:checked+.menu-icon span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked+.menu-icon span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    /* オーバーレイ背景 */
    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
        z-index: 1;
        height: 100vh;
    }

    #menu-toggle:checked~.overlay {
        opacity: 1;
        pointer-events: auto;
    }

    /* メニュー本体（左から出す） */
    .menu {
        position: fixed;
        top: 0;
        right: -250px;
        /* ← 初期位置を左へ */
        width: 250px;
        height: 100%;
        background: #498ec0;
        box-shadow: 2px 0 8px rgba(65, 62, 62, 0.452);
        transition: left 0.4s ease;
        z-index: 2;
        height: 100vh;
    }

    #menu-toggle:checked~.menu {
        right: 0;
        /* ← 開いたときは左0へ */
    }

    .menu ul {
        list-style: none;
        padding: 60px 20px;
    }

    .menu li {
        margin: 20px 0;
    }

    .menu a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2rem;
        transition: color 0.3s;
    }

    .menu a:hover {
        color: #f1744f;
    }

    /* title */
    .headerInner h1 {
        color: #eaf3ff;
        font-size: 20px;
        white-space: nowrap;
    }
}

/* ==================
mv
====================== */
.Mv {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 240px;

    @media (max-width:768px) {
        margin-bottom: 120px;
    }
}

.Mvhero {
    min-height: 100vh;
    background: url(../images/portfoilo-toppage-mv.webp) center / cover no-repeat;
    height: 100vh;
}

/* ===========================
top svg
=============================== */

.svgall {
    position: absolute;
    top: 40%;
    left: 78px;
    z-index: 10;
    margin: 0;

    @media (max-width:990px) {
        top: 40%;
        left: 0;
        padding: 16px;
    }
}

svg.mask {
    width: 100%;
    min-width: 280px;
    max-width: 900px;
    height: auto;
    display: block;
}


/* ====================
svganime 
=================== */

.cls-1 {
    fill: #fff;
}

.cls-2 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 7px;
}

.cls-3 {
    opacity: .8;
}

/* ======================
concept
====================== */

.Concept {
    width: 1040px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 120px;

    @media (max-width:768px) {
        margin-bottom: 64px;
    }
}

.Concept h2 {
    display: flex;
    text-align: center;
    font-size: clamp(40px, 8vw, 50px);
    margin-bottom: 120px;

    @media (max-width:768px) {
        margin-bottom: 64px;
    }

}


/*  ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
Concept　装飾
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.Concept h2::before,
.Concept h2::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background: #000;
    align-self: center;
}

.Concept h2::before {
    margin-right: 16px;
}

.Concept h2::after {
    margin-left: 16px;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
コンセプト　中身
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.concept_Box {
    display: flex;
    gap: 64px;
    padding: 0 24px;
}

.concept_Img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    @media screen and (max-width:1035px) {
        max-width: 250px;
    }

}

.concept_Img img {
    width: 100%;
    height: auto;
    border-radius: 48px;
    border: #525252 3px solid;
}

.concept_Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Con_text_Box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Con_text_Box p:nth-child(1),
.Con_text_Box p:nth-child(2) {
    margin-bottom: 24px;
}

.iphone {
    display: none;
}

.iphone {
    @media (max-width:440px) {
        display: block;
    }
}

.iphone_hidden {
    @media (max-width:440px) {
        display: none;
    }

}

.concept_Text h3 {
    color: #f1744f;
    text-align: center;
    font-size: clamp(28px, 2vw, 32px);
    line-height: 1.7;
    letter-spacing: .08em;
    margin-bottom: 64px;
}

.concept_Text p {
    width: 100%;
    max-width: 500px;
    line-height: 2em;
    letter-spacing: .07em;
    margin: 0 auto;
    font-size: clamp(16px, 2vw, 18px);

    @media screen and (max-width:400px) {
        font-size: 14px;
    }
}

.iphone {
    display: none;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
コンセプト　スマホ用
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media screen and (max-width:1035px) {
    .concept_Box {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .iphone {
        display: block;
    }
}

/* ===========================
workserea 
==============================*/
.works {
    max-width: 1040px;
    margin: 0 auto;
    margin-bottom: 64px;
}

/* ==============================
workstitle 
================================*/
.works-title {
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 20px 0;
    margin-bottom: 80px;
    font-size: clamp(35px, 2vw, 40px);
    font-weight: 400;
}

.works_Text_Box {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.works_Text {
    display: flex;
    gap: 20px;
}

/* grid */
.grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* タブレットの2列レイアウト */
@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* スマホの1列レイアウト */
@media screen and (max-width: 645px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

/* border 行 */
.grid .card:nth-child(2n-1),
.grid .card:nth-child(2n) {
    border-bottom: 1px solid #b4b2b2;
}


.grid .card:nth-last-child(2),
.grid .card:nth-last-child(3) {
    border-bottom: none;
}

.grid .card:nth-child(2n-1) {
    border-right: 1px solid #b4b2b2;
}

@media screen and (max-width: 645px) {
    .grid .card:nth-child(2n-1) {
        border-right: none;
    }

    .grid .card:nth-last-child(3) {
        border-bottom: 1px solid #b4b2b2;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 36px 32px 40px;
    gap: 14px;

    @media (max-width:440px) {
        padding: 24px;
    }
}

.card_title {
    text-align: center;
}

/*======================
tag
=========================== */

.tag {
    display: inline-flex;
    align-items: center;
    padding: 3px 10px;
    border-radius: 9999px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.02em;
    white-space: nowrap;
}

.card_tags {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card_desc {
    text-align: center;
}

/* ===================
tag color
========================== */

.Photo_tag_Box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 64px;
}


/* ===================
tag color
========================== */

.tag-a {
    background-color: #686868;
    border: 1px solid #333;
    color: #ffffff;
}

.tag-b {
    background-color: #ffffff;
    border: 2px solid #525252;
    color: #000;
}

.tag-c {
    background-color: #ffffff;
    border: 2px solid #525252;
    color: #000;
}

.tag-d {
    background-color: #ffffff;
    border: 2px solid #525252;
    color: #000;
}


.tag-e {
    background-color: #686868;
    border: 1px solid #333;
    color: #ffffff;
}

.tag-f {
    background-color: #686868;
    border: 1px solid #333;
    color: #ffffff;
}

/*====================
img
====================== */

.photo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.photo_site img {
    width: 100%;
    height: auto;
}

.photo img {
    width: clamp(250px, 30vw, 400px);
    object-fit: contain;
    box-shadow: 10px 16px 24px -7px rgba(0, 0, 128, 0.2);
    margin-bottom: 16px;
    height: auto;

    @media (max-width:440px) {
        margin-bottom: 8px;
    }
}

.horror {
    margin-bottom: 16px;
}

/*=========================
もっと見るボタン
  ========================== */
.button_area {
    text-align: center;
    margin-top: 32px;
}

#loadMore {
    font-size: 16px;
    padding: 15px 50px;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;

    @media (max-width :768px) {
        font-size: 12px;
        padding: 15px 25px;
    }
}

#loadMore:hover {
    background: #555;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
自分の作品を選んだ時、透明に
 ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.photo img:hover,
.photo_site img:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

/*=========================
Topへ戻るボタン
  ========================== */
.to_Top {
    position: absolute;
    bottom: -120px;
    right: 0;
    /* ①ボタンの色と文字の色とサイズ */
    background-color: #fff;
    color: #f1744f;
    font-size: 16px;
    border: 3px solid #f1744f;

    /* ②ボタンのサイズと角丸 */
    width: 80px;
    height: 80px;
    border-radius: 50%;

    /* ③次に作る上向きの三角と、TOPの文字の位置を揃えるためのcss */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s;

    @media (max-width:440px) {
        bottom: -120pxG;
        width: 60px;
        height: 60px;
        font-size: 14px;
    }
}

/* ⑦マウスをかざした時に変化する色の指定 */
.to_Top:hover {
    background-color: #f1744f;
    color: #fff;
}

.to_Top::before {
    /* ④絶対必要 */
    content: "";
    display: block;

    /* ⑤三角のサイズ */
    width: 10px;
    height: 10px;

    /* ⑥三角の線と回転角度 */
    border-top: 2px solid #f1744f;
    border-right: 2px solid #f1744f;
    transform: rotate(-45deg);
    /* ⑩色が変化する時間 */
    transition: .3s;
}

/* ⑨マウスをかざした時に変化する色の指定 */
.to_Top:hover::before {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.to_Top::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #f1744f;
    border-right: 2px solid #f1744f;
    transform: rotate(-45deg);
    margin-bottom: 5px;
}

/* ===========================
footer
=============================== */
footer {
    max-width: 100%;
    margin: 0 auto;
    background-color: #333;
    padding: 24px;
}


.copy_title p {
    text-align: center;
    color: #ffffff;
}