@charset "UTF-8";
/* ==========================
    bg
========================== */
/* .main {
  background: url(../images/bg.webp) repeat-y center top / contain;
} */

/* ==========================
    hero
========================== */
.hero {
  width: auto;
  height: auto;
  position: relative;
}

.wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.swiper {}

.swiper-slide1 img {
  object-fit: cover;
  width: 100%;
  height: 800px;
  aspect-ratio: 16 / 9;
  transform: scaleX(-1);

  @media (max-width: 768px) {
    height: 400px;
  }
}

.heroTime img {
  position: absolute;
  z-index: 100;
  width: 110px;
  height: auto;
  top: 120px;
  left: 64px;

  @media (max-width: 768px) {
    width: 55px;
    top: 60px;
    left: 32px;
  }
}

.heroCatch {
  position: absolute;
  z-index: 100;
  color: #ffffff;
  font-size: 64px;
  font-family: "Kiwi Maru", serif;
  writing-mode: vertical-rl;
  top: 120px;
  left: 240px;

  @media (max-width: 768px) {
    font-size: 32px;
    top: 60px;
    left: 120px;
  }

  h2:last-child {
    margin-top: 80px;

    @media (max-width: 768px) {
      margin-top: 40px;
    }
  }
}

.heroScroll {
  position: absolute;
  bottom: 120px;
  left: 120px;
  z-index: 100;
  transform: rotate(90deg);
  transform-origin: left bottom;

  @media (max-width: 768px) {
    bottom: 60px;
    left: 60px;
  }

  p {
    position: relative;
    color: #ffffff;
    overflow: hidden;
    width: 120px;

    @media (max-width: 768px) {
      width: 60px;
      font-size: 8px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: yellow;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    &::before {
      height: 1px;
    }

    &::after {
      height: 3px;
      animation-name: scrollAnimation;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;

      @media (max-width: 768px) {
        height: 2px;
      }
    }
  }
}

@keyframes scrollAnimation {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.inner {
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
}


.features {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.feature {
  position: relative;
  padding: 40px 0 240px;
  background: #F5FCFF;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &::after {
    content: "";
    position: absolute;
    background: url(../images/Vector.svg) no-repeat center / contain;
    width: 400px;
    height: 350px;
    left: 0;
    bottom: 0;
  }
}

.feature2 {
  position: relative;
  padding: 40px 0 240px;
  background: #F5FCFF;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &::after {
    content: "";
    position: absolute;
    background: url(../images/Vector.svg) no-repeat center / contain;
    width: 400px;
    height: 350px;
    right: 0;
    bottom: 0;
  }
}

.featureTop {
  max-width: 600px;
  margin-left: auto;
}

.featureTop2 {
  max-width: 600px;
  margin-right: auto;
}

.featureImage {
  position: relative;
}

.featureImage img {
  width: 100%;
  height: auto;
}

.featureTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #F5FCFF;
  padding: 16px;
  border-top-right-radius: 16px;
}

.featureTitle2 {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #F5FCFF;
  padding: 16px;
  border-top-left-radius: 16px;
}

.featureText {
  position: static;
  z-index: 10;
  margin-left: 40px;
}

/* ==========================
    流れ星
========================== */
/* .starrySky {
  width: 100%;
  max-width: 1120px;
  height: auto;
  background: #000000;
  display: block;
  margin: auto;
} */

#skyCanvas {
  position: relative;
  display: block;
  margin: 0 auto;
  background: url(../images/starry-sky.jpg) no-repeat center / contain;
  width: 500px;
  height: 500px;
}

/* ==========================
    施設ページ
========================== */
.facilityInner {
  max-width: 1120px;
  width: 80%;
  padding: 240px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0;
  background: #ffffff;

  @media (max-width: 768px) {
    padding: 120px 0;
  }
}

.facilityTitle {
  font-family: "Kiwi Maru", serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 120px;
  background: url(../Top_ahirai_PNG/sec_title_back.png) no-repeat center center / cover;
  padding: 16px;

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.slider {}

.slide-wrap {}

.swiperSlide {
  width: 60%;
  height: auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.swiperSlide img {
  width: 60%;
  height: auto;
  aspect-ratio: inherit;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.swiperSlide6 img {
  border-radius: 100px;
}

.facilityCard {
  padding: 120px 64px;
  /* overflow: hidden; */
  position: relative;

  @media (max-width: 768px) {
    padding: 120px 40px 360px 40px;
  }


}

.facilityCard:nth-child(odd) {
  @media (max-width: 768px) {}
}

.facilityCard1 {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: '';
    background: url(../images/welcome.svg) no-repeat center center / contain;
    width: 300px;
    height: 300px;
    bottom: 120px;
    left: 64px;
    opacity: 0.7;

    @media screen and (max-width: 375px) {
      width: 150px;
      height: 150px;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: 376px) and (max-width: 500px) {
      width: 200px;
      height: 200px;
      top: 65%;
      left: 50%;
      transform: translateX(-50%);
    }

    @media(min-width: 501px) and (max-width: 768px) {
      width: 250px;
      height: 250px;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /* &::after {
    position: absolute;
    content: '';
    background: url(../images/bird.svg) no-repeat center center / contain;
    width: 250px;
    height: 250px;
    top: 100%;
    right: 0;

    @media (max-width: 768px) {}
  } */
}


.facilityCardBox1 {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.facilityCard2 {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: '';
    background: url(../images/store.svg) no-repeat center center / contain;
    width: 250px;
    height: 250px;
    bottom: 120px;
    right: 64px;
    /* opacity: 0.7; */

    @media screen and (max-width: 375px) {
      width: 200px;
      height: 200px;
      top: 60%;
      right: 50%;
      transform: translateX(50%);
    }

    @media (min-width: 376px) and (max-width: 500px) {
      width: 250px;
      height: 250px;
      top: 60%;
      right: 50%;
      transform: translateX(50%);
    }

    @media(min-width: 501px) and (max-width: 768px) {
      top: 70%;
      right: 50%;
      transform: translateX(50%);
    }
  }

  /* &::after {
    position: absolute;
    content: '';
    background: url(../images/wave.svg) no-repeat center center / contain;
    width: 500px;
    height: 250px;
    top: 90%;
    left: -20%;
  } */
}

.facilityCardBox2 {
  background-color: #feffd5;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.facilityCard3 {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;


  &::before {
    position: absolute;
    content: '';
    background: url(../images/meshi.svg) no-repeat center center / contain;
    width: 250px;
    height: 250px;
    bottom: 120px;
    left: 64px;
    opacity: 0.5;

    @media screen and (max-width: 375px) {
      width: 150px;
      height: 150px;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: 376px) and (max-width: 500px) {
      width: 200px;
      height: 200px;
      top: 65%;
      left: 50%;
      transform: translateX(-50%);
    }

    @media(min-width: 501px) and (max-width: 768px) {
      width: 250px;
      height: 250px;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /* &::after {
    position: absolute;
    content: '';
    background: url(../images/kamome.svg) no-repeat center center / contain;
    width: 250px;
    height: 250px;
    top: 100%;
    right: 0;
  } */
}

.facilityCardBox3 {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.facilityCard4 {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: '';
    background: url(../images/cottage.svg) no-repeat center center / contain;
    width: 250px;
    height: 250px;
    bottom: 120px;
    right: 64px;
    opacity: 0.7;

    @media screen and (max-width: 375px) {
      width: 200px;
      height: 200px;
      top: 60%;
      right: 50%;
      transform: translateX(50%);
    }

    @media (min-width: 376px) and (max-width: 500px) {
      width: 200px;
      height: 200px;
      top: 60%;
      right: 50%;
      transform: translateX(50%);
    }

    @media(min-width: 501px) and (max-width: 768px) {
      width: 200px;
      height: 200px;
      top: 70%;
      right: 50%;
      transform: translateX(50%);
    }
  }

  /* &::after {
    position: absolute;
    content: '';
    background: url(../images/yasi.svg) no-repeat center center / contain;
    width: 250px;
    height: 250px;
    top: 100%;
    left: 0;
  } */
}

.facilityCardBox4 {
  background-color: #feffd5;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.facilityCard5 {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: '';
    background: url(../images/tento2.svg) no-repeat center center / contain;
    width: 250px;
    height: 250px;
    bottom: 120px;
    left: 64px;
    opacity: 0.7;

    @media screen and (max-width: 375px) {
      width: 150px;
      height: 150px;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: 376px) and (max-width: 500px) {
      width: 200px;
      height: 200px;
      top: 65%;
      left: 50%;
      transform: translateX(-50%);
    }

    @media(min-width: 501px) and (max-width: 768px) {
      width: 200px;
      height: 200px;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /* &::after {
    position: absolute;
    content: '';
    background: url(../images/moon.svg) no-repeat center center / contain;
    width: 250px;
    height: 250px;
    top: 80%;
    left: 0;
  } */
}

.facilityCardBox5 {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}


.facilityCard6 {
  margin-bottom: 120px;
  position: relative;
  max-width: 1120px;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: '';
    background: url(../images/sauna.svg) no-repeat center center / contain;
    width: 250px;
    height: 250px;
    bottom: 120px;
    right: 64px;
    opacity: 0.5;

    @media screen and (max-width: 375px) {
      width: 200px;
      height: 200px;
      top: 60%;
      right: 50%;
      transform: translateX(50%);
    }

    @media (min-width: 376px) and (max-width: 500px) {
      width: 250px;
      height: 250px;
      top: 60%;
      right: 50%;
      transform: translateX(50%);
    }

    @media(min-width: 501px) and (max-width: 768px) {
      width: 250px;
      height: 250px;
      top: 70%;
      right: 50%;
      transform: translateX(50%);
    }
  }

  /* &::after {
    position: absolute;
    content: '';
    background: url(../images/stars.svg) no-repeat center center / contain;
    width: 250px;
    height: 250px;
    top: 70%;
    right: 0;
  } */
}

.facilityCardBox6 {
  background-color: #feffd5;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.slider-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider-wrapper1 {
  right: -40%;

  @media (max-width: 768px) {
    left: 0;
  }
}

.slider-wrapper2 {}

.slider-wrapper3 {
  right: -40%;

  @media (max-width: 768px) {
    left: 0;
  }
}

.slider-wrapper4 {}

.slider-wrapper5 {
  right: -40%;

  @media (max-width: 768px) {
    left: 0;
  }
}

.slider-wrapper6 {}

.facilityCardTexts {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  max-width: 30%;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 768px) {
    max-width: 100%;
    width: 80%;
    gap: 24px;
  }
}

.facilityCardTexts1 {
  text-align: left;
  left: 64px;

  @media screen and (max-width: 375px) {
    left: 50%;
    transform: translatex(-50%);
    top: 60%;
  }

  @media (min-width: 376px) and (max-width: 500px) {
    left: 50%;
    transform: translatex(-50%);
    top: 70%;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    left: 50%;
    transform: translatex(-50%);
    top: 75%;
  }

  &::after {
    /* position: absolute;
    content: '';
    width: 100%;
    aspect-ratio: 1;
    background: #ffd5d5;
    z-index: 1;
    border-radius: 50%;
    inset: 0;
    margin: auto; */

    @media (max-width: 768px) {}
  }
}

.facilityCardTitleBox1 {
  position: relative;
}

.facilityCard1_star {
  position: absolute;
  top: -172%;
  left: 100%;
  width: clamp(60px, 8vw, 100px);
  height: auto;
}


.facilityCardTexts2 {
  text-align: left;
  right: 64px;

  @media screen and (max-width: 375px) {
    left: 50%;
    transform: translatex(-50%);
    top: 65%;
  }

  @media (min-width: 376px) and (max-width: 500px) {
    left: 50%;
    transform: translatex(-50%);
    top: 70%;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    left: 50%;
    transform: translatex(-50%);
    top: 80%;
  }
}

.facilityCardTitleBox2 {
  position: relative;
}

.facilityCard2_star {
  position: absolute;
  top: -230%;
  left: -4%;
  width: clamp(60px, 8vw, 100px);
  height: auto;

  @media (max-width:420px) {
    top: -170%;
  }
}

.wave {
  /* background-color: #ffffff;
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 1; */

  /* svg {
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    fill: #a4dfff;
    z-index: 1;
    opacity: 0.3;

    @media screen and (max-width: 375px) {
      height: 100px;
    }

    @media (min-width: 376px) and (max-width: 500px) {
      height: 150px;
    }

    @media (min-width: 501px) and (max-width: 768px) {
      height: 200px;
    }
  } */
}

.facilityCardTexts3 {
  text-align: left;
  left: 64px;

  @media screen and (max-width: 375px) {
    left: 50%;
    transform: translatex(-50%);
    top: 60%;
  }

  @media (min-width: 376px) and (max-width: 500px) {
    left: 50%;
    transform: translatex(-50%);
    top: 70%;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    left: 50%;
    transform: translatex(-50%);
    top: 75%;
  }




  &::after {
    /* position: absolute;
    content: '';
    width: 90%;
    aspect-ratio: 1;
    background: #feffd5;
    z-index: 1;
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    inset: 0;
    margin: auto;

    @media (max-width: 768px) {
      width: 80%;
    } */
  }
}

.facilityCardTitleBox3 {
  position: relative;
}

.facilityCard3_star {
  position: absolute;
  top: -252%;
  right: -160%;
  width: clamp(60px, 8vw, 100px);
  height: auto;
}

.facilityCardTexts4 {
  text-align: left;
  right: 64px;

  @media screen and (max-width: 375px) {
    left: 50%;
    transform: translatex(-50%);
    top: 60%;
  }

  @media (min-width: 376px) and (max-width: 500px) {
    left: 50%;
    transform: translatex(-50%);
    top: 70%;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    left: 50%;
    transform: translatex(-50%);
    top: 75%;
  }

  &::after {
    /* position: absolute;
    content: '';
    width: 100%;
    aspect-ratio: 1;
    background: #ffd5d5;
    z-index: 1;
    border-radius: 50%;
    inset: 0;
    margin: auto; */

    @media screen and (max-width: 375px) {
      /* width: 80%; */
    }

    @media (min-width: 376px) and (max-width: 500px) {
      /* width: 70%; */
    }

    @media (min-width: 501px) and (max-width: 768px) {
      /* width: 60%; */
    }
  }
}

.facilityCardTitleBox4 {
  position: relative;
}

.facilityCard4_star {
  position: absolute;
  top: -238%;
  right: 106%;
  width: clamp(60px, 8vw, 100px);
  height: auto;
}


.facilityCardTexts5 {
  text-align: left;
  left: 64px;

  @media screen and (max-width: 375px) {
    left: 50%;
    transform: translatex(-50%);
    top: 60%;
  }

  @media (min-width: 376px) and (max-width: 500px) {
    left: 50%;
    transform: translatex(-50%);
    top: 70%;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    left: 50%;
    transform: translatex(-50%);
    top: 75%;
  }
}

.facilityCardTitleBox5 {
  position: relative;
}

.facilityCard5_star {
  position: absolute;
  top: -260%;
  right: -10%;
  width: clamp(60px, 8vw, 100px);
  height: auto;

  @media screen and (max-width: 440px) {
    top: -200%;
  }
}

.facilityCardTexts6 {
  text-align: left;
  right: 64px;

  @media screen and (max-width: 375px) {
    left: 50%;
    transform: translatex(-50%);
    top: 60%;
  }

  @media (min-width: 376px) and (max-width: 500px) {
    left: 50%;
    transform: translatex(-50%);
    top: 70%;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    left: 50%;
    transform: translatex(-50%);
    top: 80%;
  }

  &::after {
    /* position: absolute;
    content: '';
    width: 90%;
    aspect-ratio: 1;
    background: #feffd5;
    z-index: 1;
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    inset: 0;
    margin: auto; */

    @media (max-width: 768px) {
      /* width: 80%; */
    }
  }
}

.facilityCardTitleBox6 {
  position: relative;
}

.facilityCard6_star {
  position: absolute;
  top: -240%;
  right: 100%;
  width: clamp(60px, 8vw, 100px);
  height: auto;
}

.facilityCardTitle {
  font-size: clamp(20px, 2vw, 22px);
  font-weight: 900;
  z-index: 100;

  @media screen and (max-width: 375px) {
    font-size: 16px;
  }

  @media (min-width: 376px) and (max-width: 500px) {
    font-size: 18px;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    font-size: 20px;
  }
}

.facilityCardText {
  font-size: 18px;
  z-index: 100;

  @media screen and (max-width: 375px) {
    font-size: 8px;
  }

  @media (min-width: 376px) and (max-width: 500px) {
    font-size: 14px;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    font-size: 16px;
  }
}

.facilityMap {
  padding: 120px 0 0 0;
  background: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
}


.facilityMapTitle {
  font-size: 32px;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.facilityMapImg {
  background-color: #ffffff;
  max-width: 1120px;
}

.facilityMapImg img {
  width: 100%;
  height: auto;
}

/* ==========================
    予約ページ
========================== */

/* mv */
.mvHero {
  background: url(../images/reservationMvImg.webp) no-repeat top center/cover;
  height: 800px;
  display: flex;
  justify-content: center;
  position: relative;

  @media (max-width: 768px) {
    height: 400px;
  }
}

.mvTitle {
  font-family: "Kiwi Maru", serif;
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  padding: 8px 40px;
  background-color: #ffffff;
  right: 0;
  bottom: 80px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;

  @media screen and (max-width: 375px) {
    font-size: 16px;
  }

  @media (min-width: 376px) and (max-width: 500px) {
    font-size: 20px;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    font-size: 24px;
  }
}

.reservationInner {
  padding: 240px 40px;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  max-width: 1120px;
  width: 80%;
  background: #ffffff;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 90%;
    padding: 120px 0;
  }
}

.reservationTitle {
  font-family: "Kiwi Maru", serif;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  position: relative;
  z-index: 10;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.form {
  width: 100%;
  border-bottom: 1px solid #000000;
  padding: 120px 0;
}

.formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 24px;
  max-width: 480px;
}

.formCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.formCard span {
  color: red;
  font-weight: bold;
}

.formCard textarea {
  height: 400px;
}

.formLabel {
  margin-left: 16px;
  border: 4px solid #000000;
  background: #ffd5d5;
  border-radius: 8px;
  flex-shrink: 0;
  -webkit-appearance: none;
  appearance: none;
  height: 76px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 76px;

  &:hover {
    opacity: 0.7;
  }
}

.formLabel1 {
  padding: 60px;
}

.caption {
  width: 100%;
  border-bottom: 1px solid #000000;
  padding: 120px 0;
}

.captionTitle {
  /* background: #a4dfff; */
  /* width: fit-content;
  margin: 0 auto;
  padding: 16px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px; */
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(../images/welcome.svg) no-repeat center / contain;
    width: 150px;
    height: 150px;
    left: 0;
    top: -150%;

    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background: url(../images/welcome.svg) no-repeat center / contain;
    width: 150px;
    height: 150px;
    right: 0;
    top: -150%;

    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }
}

.captionTexts {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #a4dfff;
  border-radius: 32px;
  gap: 8px;
  padding: 16px;

  @media (max-width: 768px) {
    max-width: 480px;
  }
}

.captionTexts svg {
  position: absolute;
}

.captionText {
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.price {
  border-bottom: 1px solid #000000;
  padding: 120px 0;
  overflow: hidden;
  width: 100%;
  position: relative;

  /* &::after {
    position: absolute;
    content: '';
    width: 80%;
    aspect-ratio: 1;
    background: #feffd5;
    z-index: 1;
    border-radius: 50%;
    inset: 0;
    margin: auto;
  } */

  h3 {
    position: relative;
    font-weight: bold;
    z-index: 10;
    padding: 24px;
    margin-left: 32px;
    width: fit-content;
    background: #feffd5;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

    @media (max-width: 768px) {
      font-size: 12px;
    }

    /* &::before {
      position: absolute;
      content: '';
      background: #a4dfff;
      width: 8px;
      height: 60%;
      left: -16px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 100;
    } */
  }
}

.pTitle {
  position: relative;
  margin-bottom: 80px;

  &::before {
    content: "";
    position: absolute;
    background: url(../images/tento2.svg) no-repeat center / contain;
    width: 150px;
    height: 150px;
    left: 0;
    top: -100%;

    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background: url(../images/tento2.svg) no-repeat center / contain;
    width: 150px;
    height: 150px;
    right: 0;
    top: -100%;

    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }
}

.priceTable {
  position: relative;
  z-index: 10;
  padding: 32px;
  background: #feffd5;
  border-radius: 32px;
}

.table {
  position: relative;
  z-index: 10;
  width: 100%;

  @media screen and (max-width: 375px) {
    font-size: 8px;
  }

  @media (min-width: 376px) and (max-width: 768px) {
    font-size: 10px;
  }

  th {
    text-align: center;
    padding: 8px;
    background: #a4dfff;
    margin-bottom: 2px;

    @media screen and (max-width: 375px) {
      padding: 4px;
    }
  }

  th:nth-child(1) {
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
  }

  th:nth-child(2) {
    border-bottom: 3px double #a4dfff;
  }

  th:nth-child(3) {
    border-bottom: 3px double #a4dfff;
  }

  th:nth-child(4) {
    border-bottom: 3px double #a4dfff;
  }

  td {
    text-align: center;
    vertical-align: middle;
    padding: 8px;

    @media screen and (max-width: 375px) {
      padding: 4px;
    }
  }

  .tdTitle {
    background: #a4dfff;
  }

  .tdTitle:nth-child(1) {
    border-bottom: 2px solid #ffffff;
  }

  tbody {
    background: #ffffff;
    border-right: 1px solid #a4dfff;
    border-bottom: 1px solid #a4dfff;

    tr:nth-child(odd) {
      border-bottom: 1px dotted #a4dfff;
    }

    tr:nth-child(2) {
      td:nth-child(1) {
        border-bottom: 3px double #a4dfff;
      }

      td:nth-child(2) {
        border-bottom: 3px double #a4dfff;
      }

      td:nth-child(3) {
        border-bottom: 3px double #a4dfff;
      }
    }
  }
}

.access {
  width: 100%;
  border-bottom: 1px solid #000000;
  padding: 120px 0;
}

.aTitle {
  /* background: #a4dfff; */
  /* width: fit-content;
  margin: 0 auto;
  padding: 16px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px; */
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(../images/character.webp) no-repeat center / contain;
    width: 130px;
    height: 130px;
    left: 0;
    top: -150%;

    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background: url(../images/character.webp) no-repeat center / contain;
    width: 130px;
    height: 130px;
    right: 0;
    top: -150%;

    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }
}

.accessBox {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #ffd5d5;
  padding: 16px;
  border-radius: 32px;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.accessTexts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accessText {
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.accessTitle {
  font-weight: bold;
}

.accessPs {
  margin-left: 16px;
}

.accessPbox {
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.accessP2 {
  margin-left: 16px;
}

.accessMapWrap {
  width: 100%;
  max-width: 600px;
}

.accessMap {
  width: 100%;
  max-width: 600px;
  margin: 0;
  aspect-ratio: 1 / 1;
  /* border: 1px solid #000000; */
}

.accessMap iframe {
  width: 100%;
  height: 100%;
}

.faq {
  padding: 120px 0;
  width: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;

  /* &::after {
    position: absolute;
    content: '';
    width: 100%;
    aspect-ratio: 1;
    background: #a4dfff;
    opacity: 0.3;
    z-index: 1;
    border-radius: 50%;
    margin: auto;
    top: 120px;
  } */
}

.fTitle {
  /* background: #feffd5; */
  /* width: fit-content;
  margin: 0 auto;
  padding: 16px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px; */
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(../images/meshi.svg) no-repeat center / contain;
    width: 150px;
    height: 150px;
    left: 0;
    top: -150%;

    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background: url(../images/meshi.svg) no-repeat center / contain;
    width: 150px;
    height: 150px;
    right: 0;
    top: -150%;

    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }
}

.faqBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  background: #a4dfff;
  padding: 32px;
  border-radius: 32px;
}

.faq1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  z-index: 10;
}

.faq2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  z-index: 10;
}

.faq3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  z-index: 10;
}

.faqTitle {
  font-size: 20px;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.faqTexts {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faqQ {
  font-size: 16px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #000000;

  @media screen and (max-width: 375px) {
    font-size: 8px;
  }

  @media (min-width: 376px) and (max-width: 768px) {
    font-size: 10px;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 1px;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 2px;
    margin: auto;
    background: #000000;
  }

  &::after {
    transform: rotate(-90deg);
    transition: transform 0.3s;
  }
}

.faqQ.active::after {
  transform: rotate(0deg);
}

.faqA {
  display: none;
  margin-left: 16px;
  font-size: 16px;
  font-weight: bold;

  @media screen and (max-width: 375px) {
    font-size: 8px;
  }

  @media (min-width: 376px) and (max-width: 768px) {
    font-size: 10px;
  }
}